@import url('https://fonts.googleapis.com/css?family=Big+Shoulders+Display&display=swap');

.cover-all {
    text-align: center;
}

.register-form {
    display: inline-block;
    margin-top: 5em;
    width: 14em;
}

.cover-all a {
    text-decoration: none;
    color: black;
}

.cover-all a:hover {
    text-decoration: none;
    color: black;
}

.nav-item {
    width: 7em;
    font-family: 'Big Shoulders Display', cursive;
}

.form-horizontal label {
    font-family: 'Big Shoulders Display', cursive;
}

.form-horizontal {
    color: white;
    background-color: rgb(243, 9, 9);
    padding: 1em
}

.login-btn {
    background: rgb(236, 118, 22) !important;
    color: white !important;
    border-color: black !important
}