@import url('https://fonts.googleapis.com/css?family=Big+Shoulders+Display&display=swap');

.single_game {
    margin-top: 5em;
}

.play_form {
    width: 20em
}

.game_response {
    box-shadow: 1px 1px 2px 2px #ccc;
    padding: 1em;
    height: 4em;
    font-family: 'Big Shoulders Display', cursive;
}