@import url('https://fonts.googleapis.com/css?family=Italiana&display=swap');

.question-form {
    margin-top: 5em;
    margin-bottom: 5em;
    width: 20rem;
    display: inline-block;
}

.profile_display {
    margin-top: 5em
}

.no_games {
    padding: 3em;
    border: 1px solid;
    box-shadow: 5px 10px;
}

.card {
    margin: 0em 2em 1em 0em
}

.display_games a {
    text-decoration: none;
    color: black;
}

.display_games a:hover {
    text-decoration: none;
    color: black;
}

.assign_games {
    margin-bottom: 3em;
}

.pending-status {
    color: red;
    font-family: 'Italiana', serif;
}

.in_progress {
    color: rgb(207, 13, 175);
    font-family: 'Italiana', serif;
}